In [1]:
import pandas as pd
import datetime as dt
from datetime import date

In [2]:
today = date.today()
today_str = today.strftime("%Y%m%d")
print(today_str)

20190503

In [3]:
df = pd.read_hdf("X:/Applications/Admissions/funnel/data/stage_data", key="weekly")
df = df[(df["year_term"] > "2011.Spring")]

In [4]:
summ = df.groupby(["year_term", "stage"]).sum()
summ_t = summ.transpose()

In [5]:
print(summ.shape)
summ.head()

(48, 54)

                       00  01  02  03  04  05  06  07  08  09  ...   44   45  \
year_term   stage                                              ...
2012.Fall   Accepted    1   1   1   1   1   1   1   2   2   2  ...  416  413
            Applied     1   1   1   2   5   6   7  11  14  25  ...  585  583
            Deposited   3   3   3   3   3   3   3   4   4   4  ...  368  368
2012.Spring Accepted    0   0   0   0   0   0   0   0   0   1  ...    1    1
            Applied     0   0   0   0   1   1   1   1   1   1  ...    2    2

                        46   47   48   49   50   51   52   53
year_term   stage
2012.Fall   Accepted   396  395  359  360  343  290  276  276
            Applied    562  557  509  510  493  436  423  423
            Deposited  369  369  372  372  373  365  365  365
2012.Spring Accepted     1    1    1    1    1    1    1    1
            Applied      2    2    2    2    2    2    2    2

[5 rows x 54 columns]

In [6]:
summ_t.head()

year_term 2012.Fall                   2012.Spring                   2013.Fall  \
stage      Accepted Applied Deposited    Accepted Applied Deposited  Accepted
00                1       1         3           0       0         0        18
01                1       1         3           0       0         0        20
02                1       1         3           0       0         0        23
03                1       2         3           0       0         0        24
04                1       5         3           0       1         0        27

year_term                   2013.Spring  ... 2018.Fall 2018.Spring          \
stage     Applied Deposited    Accepted  ... Deposited    Accepted Applied
00             83         9           8  ...         7           2       4
01             73         9           8  ...         6           2       4
02             77        10           8  ...         6           2       5
03             93        13          13  ...         6           2       6
04            105        13          14  ...         6           2       8

year_term           2019.Fall                   2019.Spring
stage     Deposited  Accepted Applied Deposited    Accepted Applied Deposited
00                3         2      19         1           2       8         2
01                3         2      29         1           4      11         2
02                3         2      37         1           5      13         3
03                3         2      46         1           5      14         3
04                3         2      56         1           6      14         3

[5 rows x 48 columns]

In [14]:
def adm_week(d):
    """
    returns calendar week number and Admissions Week Number for a given date, d
    """
    year = d.year
    if d >= date(year, 9, 1):
        adm_year_start = year
    else:
        adm_year_start = year - 1

    week_number = d.isocalendar()[1]
    adm_start_week = date(adm_year_start, 9, 1).isocalendar()[1]

    if week_number >= adm_start_week:
        adm_week_number = (week_number - adm_start_week) + 1
    else:
        adm_week_number = 53 + (week_number - adm_start_week)

    return (week_number, adm_week_number)


week_number, adm_week_number = adm_week(today)
print(week_number, adm_week_number)

18 36

In [22]:
def adm_week_end_date(awn, acad_yr):
    """
    returns calendar date for the Friday of the given Admissions Week Number, awn
        and academic year, acad_yr
    """
    
    adm_start_date = dt.date((acad_yr-1), 9, 1)
    adm_start_week = adm_start_date.isocalendar()[1]
    
    if awn < (53 - adm_start_week):
        wn = adm_start_week + awn - 1
        year = acad_yr - 1
    else:
        wn = awn - (53 - adm_start_week)
        year = acad_yr

    week_end = dt.datetime.strptime(f'{year}-{wn}-1', "%Y-%W-%w").date() + dt.timedelta(days=6.9)
    
    return(week_end)

In [23]:
print(0, adm_week_end_date(0, 2019))
print(1, adm_week_end_date(1, 2019))
print(16, adm_week_end_date(16, 2019))
print(17, adm_week_end_date(17, 2019))
print(18, adm_week_end_date(18, 2019))
print(19, adm_week_end_date(19, 2019))
print(52, adm_week_end_date(52, 2019))
print(53, adm_week_end_date(53, 2019))

0 2018-08-26
1 2018-09-02
16 2018-12-16
17 2018-12-23
18 2019-01-06
19 2019-01-13
52 2019-09-01
53 2019-09-08

In [26]:
base = dt.date(2018, 12, 20)
#date_list = [str(base + dt.timedelta(days=x)) for x in range(0, 21)]
date_list = [base + dt.timedelta(days=x) for x in range(0, 21)]
#print(date_list)
for d in date_list:
    wn, awn = adm_week(d)
    end = adm_week_end_date(awn, 2019) 
    print(d, end, awn, wn)

2018-12-20 2018-12-23 17 51
2018-12-21 2018-12-23 17 51
2018-12-22 2018-12-23 17 51
2018-12-23 2018-12-23 17 51
2018-12-24 2019-01-06 18 52
2018-12-25 2019-01-06 18 52
2018-12-26 2019-01-06 18 52
2018-12-27 2019-01-06 18 52
2018-12-28 2019-01-06 18 52
2018-12-29 2019-01-06 18 52
2018-12-30 2019-01-06 18 52
2018-12-31 2019-01-13 19 1
2019-01-01 2019-01-13 19 1
2019-01-02 2019-01-13 19 1
2019-01-03 2019-01-13 19 1
2019-01-04 2019-01-13 19 1
2019-01-05 2019-01-13 19 1
2019-01-06 2019-01-13 19 1
2019-01-07 2019-01-20 20 2
2019-01-08 2019-01-20 20 2
2019-01-09 2019-01-20 20 2

In [25]:
print(today.year)
for w in range(0,54):
    end = adm_week_end_date(w, 2019) 
    print(w, end, adm_week(end)[1])

2019
0 2018-08-26 52
1 2018-09-02 1
2 2018-09-09 2
3 2018-09-16 3
4 2018-09-23 4
5 2018-09-30 5
6 2018-10-07 6
7 2018-10-14 7
8 2018-10-21 8
9 2018-10-28 9
10 2018-11-04 10
11 2018-11-11 11
12 2018-11-18 12
13 2018-11-25 13
14 2018-12-02 14
15 2018-12-09 15
16 2018-12-16 16
17 2018-12-23 17
18 2019-01-06 19
19 2019-01-13 20
20 2019-01-20 21
21 2019-01-27 22
22 2019-02-03 23
23 2019-02-10 24
24 2019-02-17 25
25 2019-02-24 26
26 2019-03-03 27
27 2019-03-10 28
28 2019-03-17 29
29 2019-03-24 30
30 2019-03-31 31
31 2019-04-07 32
32 2019-04-14 33
33 2019-04-21 34
34 2019-04-28 35
35 2019-05-05 36
36 2019-05-12 37
37 2019-05-19 38
38 2019-05-26 39
39 2019-06-02 40
40 2019-06-09 41
41 2019-06-16 42
42 2019-06-23 43
43 2019-06-30 44
44 2019-07-07 45
45 2019-07-14 46
46 2019-07-21 47
47 2019-07-28 48
48 2019-08-04 49
49 2019-08-11 50
50 2019-08-18 51
51 2019-08-25 52
52 2019-09-01 1
53 2019-09-08 2

In [14]:
summ_t.head()

year_term 2012.Fall                   2012.Spring                   2013.Fall  \
stage      Accepted Applied Deposited    Accepted Applied Deposited  Accepted
00                1       1         3           0       0         0        18
01                1       1         3           0       0         0        20
02                1       1         3           0       0         0        23
03                1       2         3           0       0         0        24
04                1       5         3           0       1         0        27

year_term                   2013.Spring  ... 2018.Fall 2018.Spring          \
stage     Applied Deposited    Accepted  ... Deposited    Accepted Applied
00             83         9           8  ...         7           2       4
01             73         9           8  ...         6           2       4
02             77        10           8  ...         6           2       5
03             93        13          13  ...         6           2       6
04            105        13          14  ...         6           2       8

year_term           2019.Fall                   2019.Spring
stage     Deposited  Accepted Applied Deposited    Accepted Applied Deposited
00                3         2      19         1           2       8         2
01                3         2      29         1           4      11         2
02                3         2      37         1           5      13         3
03                3         2      46         1           5      14         3
04                3         2      56         1           6      14         3

[5 rows x 48 columns]

In [21]:
summ_t.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, 00 to 53
Data columns (total 48 columns):
(2012.Fall, Accepted)       54 non-null int64
(2012.Fall, Applied)        54 non-null int64
(2012.Fall, Deposited)      54 non-null int64
(2012.Spring, Accepted)     54 non-null int64
(2012.Spring, Applied)      54 non-null int64
(2012.Spring, Deposited)    54 non-null int64
(2013.Fall, Accepted)       54 non-null int64
(2013.Fall, Applied)        54 non-null int64
(2013.Fall, Deposited)      54 non-null int64
(2013.Spring, Accepted)     54 non-null int64
(2013.Spring, Applied)      54 non-null int64
(2013.Spring, Deposited)    54 non-null int64
(2014.Fall, Accepted)       54 non-null int64
(2014.Fall, Applied)        54 non-null int64
(2014.Fall, Deposited)      54 non-null int64
(2014.Spring, Accepted)     54 non-null int64
(2014.Spring, Applied)      54 non-null int64
(2014.Spring, Deposited)    54 non-null int64
(2015.Fall, Accepted)       54 non-null int64
(2015.Fall, Applied)        54 non-null int64
(2015.Fall, Deposited)      54 non-null int64
(2015.Spring, Accepted)     54 non-null int64
(2015.Spring, Applied)      54 non-null int64
(2015.Spring, Deposited)    54 non-null int64
(2016.Fall, Accepted)       54 non-null int64
(2016.Fall, Applied)        54 non-null int64
(2016.Fall, Deposited)      54 non-null int64
(2016.Spring, Accepted)     54 non-null int64
(2016.Spring, Applied)      54 non-null int64
(2016.Spring, Deposited)    54 non-null int64
(2017.Fall, Accepted)       54 non-null int64
(2017.Fall, Applied)        54 non-null int64
(2017.Fall, Deposited)      54 non-null int64
(2017.Spring, Accepted)     54 non-null int64
(2017.Spring, Applied)      54 non-null int64
(2017.Spring, Deposited)    54 non-null int64
(2018.Fall, Accepted)       54 non-null int64
(2018.Fall, Applied)        54 non-null int64
(2018.Fall, Deposited)      54 non-null int64
(2018.Spring, Accepted)     54 non-null int64
(2018.Spring, Applied)      54 non-null int64
(2018.Spring, Deposited)    54 non-null int64
(2019.Fall, Accepted)       54 non-null int64
(2019.Fall, Applied)        54 non-null int64
(2019.Fall, Deposited)      54 non-null int64
(2019.Spring, Accepted)     54 non-null int64
(2019.Spring, Applied)      54 non-null int64
(2019.Spring, Deposited)    54 non-null int64
dtypes: int64(48)
memory usage: 23.2+ KB

In [29]:
terms = ['2012.Fall','2013.Fall','2014.Fall','2015.Fall','2016.Fall','2017.Fall','2018.Fall','2019.Fall']
stages = [ 'Applied', 'Accepted', 'Deposited']
for st in stages:
    df = summ_t.loc[:, (terms, st)]

year_term,2012.Fall,2013.Fall,2014.Fall,2015.Fall,2016.Fall,2017.Fall,2018.Fall,2019.Fall
stage,Deposited,Deposited,Deposited,Deposited,Deposited,Deposited,Deposited,Deposited
00,3,9,4,2,1,10,7,1
01,3,9,4,2,1,10,6,1
02,3,10,4,2,1,11,6,1
03,3,13,4,2,1,11,6,1
04,3,13,4,2,1,11,6,1
05,3,13,4,2,1,11,6,1
06,3,14,4,2,1,11,6,1
07,4,16,4,4,1,11,6,1
08,4,17,4,4,1,11,6,1
09,4,18,7,4,2,11,6,1
10,4,18,7,6,5,13,6,3
11,5,20,9,9,7,13,6,3
12,5,22,11,11,8,13,6,4
13,6,24,13,15,11,16,7,6
14,11,30,15,18,13,21,7,6
15,19,35,18,20,16,24,7,7
16,25,39,19,20,19,31,7,7
17,25,39,19,20,19,32,7,7
18,25,39,19,26,30,32,7,7
19,42,46,27,35,37,39,8,8
20,50,54,35,37,39,43,11,10
21,63,54,39,46,42,47,23,12
22,86,59,40,57,46,50,35,13
23,102,65,48,67,54,56,50,15
24,109,69,61,73,58,57,59,16
25,125,75,67,78,69,63,61,25
26,136,85,73,86,75,78,81,36
27,146,96,79,89,81,84,91,45
28,152,113,91,107,92,86,98,52
29,167,121,99,112,99,93,104,66
30,186,128,102,122,109,101,110,80
31,204,148,127,129,129,112,112,94
32,223,162,134,144,158,120,124,101
33,232,180,151,162,180,128,133,120
34,255,194,173,191,224,147,142,129
35,277,240,181,227,239,172,164,141
36,311,268,213,254,249,191,182,166
37,327,270,223,263,258,198,186,166
38,336,280,239,271,263,202,193,166
39,339,282,250,274,264,212,196,166
40,340,286,259,292,275,220,199,166
41,348,295,271,299,282,226,203,166
42,356,297,276,304,286,229,205,166
43,361,299,282,309,287,235,218,166
44,368,301,286,311,291,242,223,166
45,368,303,287,317,295,246,227,166
46,369,307,287,319,300,250,233,166
47,369,306,292,321,300,251,236,166
48,372,309,298,324,301,262,236,166
49,372,308,304,324,297,269,239,166
50,373,310,303,326,297,258,241,166
51,365,301,304,325,290,258,243,166
52,365,299,304,319,286,260,245,166
53,365,299,304,319,286,260,245,166